process {
    withName: 'LdPruning' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'RemoveAgeNaSamples' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'SplitPlinkToBgen' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'FitNullGlmmFullGrm' {
        clusterOptions = '--rsc p=1:t=32:c=32:m=292544M'
    }
    withName: 'AssocTestFullGrm' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'CalcSparseGrm' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'FitNullGlmmSparseGrm' {
        clusterOptions = '--rsc p=1:t=32:c=32:m=292544M'
    }
    withName: 'AssocTestSparseGrm' {
        clusterOptions = '--rsc p=1:t=32:c=32:m=292544M'
    }
    withName: 'MergeAssocResults' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'PlotManhattanQq' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
}