process {
    withName: 'EXTRACT_REGION_PRE_GENOTYPE_QC' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'EXTRACT_REGION_POST_GENOTYPE_QC' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'EXTRACT_REGION_POST_VARIANT_QC' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'RUN_REGION_ASSOC_PLINK2' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
}

profiles {
    validate {
        params.only_validate = true
    }
}