process {
    withName: 'PREPARE_VCF' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'FILTER_VQC' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'ANNOTATE_AF_NORM_GT' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'FILTER_GENOTYPE' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'VCF_TO_PLINK' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'MERGE_PLINK' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'BUILD_SAMPLE_QC_TABLE' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'RUN_SAMPLE_QC_FROM_METRICS' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'RUN_PIHAT_QC' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=36568M'
    }
    withName: 'PREPARE_BBJ_GENOTYPE' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'RUN_VARIANT_QC' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'PREPARE_BBJ_PCA_BASE' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'PROJECT_ONTO_BBJ_PCS' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'POPGMM_SUBSET_AND_PLOT_BBJ_PROJECTION' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'POPGMM_PIHAT_INTERSECTION_PROJECTION' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'PREPARE_FIXED_MODEL_GENOTYPE' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'PREPARE_RANDOM_MODEL_GENOTYPE' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
}