process {
    withName: 'RunAssocPlink2Model' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'BuildAssocPlink2Summary' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'PlotAssocPlink2ModelResult' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
}
