process {
    // t/c must match params.stats_threads: the script measures that many samples
    // in parallel.
    withName: 'CRAM_REGION_STATS' {
        clusterOptions = '--rsc p=1:t=5:c=5:m=16384M'
    }
    withName: 'OBSERVED_DEPTH_AUDIT' {
        clusterOptions = '--rsc p=1:t=2:c=2:m=16384M'
    }
    withName: 'WRITE_REPORT' {
        clusterOptions = '--rsc p=1:t=1:c=1:m=8192M'
    }
}
