process {
    // Reads two flat text files and greps a .bim; the .bim is 777 MB but is
    // streamed by awk, not loaded.
    withName: 'BUILD_MATRIX' {
        clusterOptions = '--rsc p=1:t=2:c=2:m=16384M'
    }
    withName: 'DOWNSAMPLE_REGION' {
        clusterOptions = '--rsc p=1:t=8:c=8:m=73136M'
    }
    withName: 'BUILD_FORCE_CALL_SITES' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'CALL_GVCF' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'JOINT_GENOTYPE' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'NORMALIZE_VCF' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'COMPARE_TO_SITES' {
        clusterOptions = '--rsc p=1:t=2:c=2:m=16384M'
    }
    withName: 'PREP_CONCORDANCE_VCFS' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'GENOTYPE_CONCORDANCE' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'BUILD_ASSOC_GENOTYPES' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
    withName: 'ASSOC_CONCORDANCE' {
        clusterOptions = '--rsc p=1:t=4:c=4:m=32768M'
    }
}
